[submodule "lib/require"]
	path = lib/require
	url = https://github.com/jrburke/requirejs.git

[submodule "test/lib/chai"]
	path = test/lib/chai
	url = https://github.com/chaijs/chai.git
[submodule "test/lib/mocha"]
	path = test/lib/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "lib/keyboard-event-pollyfill"]
	path = lib/keyboard-event-pollyfill
	url = https://github.com/termi/DOM-Keyboard-Event-Level-3-polyfill.git
